/*
Color del fondo de la barra de navegación.

  color:  #373435ff
	      color de seleccion dentro de la barra de navegación.

	      color: #d2a93cff
			 color de las Letras de la barra de navegación.
			 color: #fefefe
*/

@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');    

body {
          font-family: "Baskervville", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
      
          line-height: 1.6;
          color: #333;
        }
    nav {

	background: #373435ff;
	color: #fefefe;
    }

    /* ======= NAVEGACIÓN ======= */
    nav {
      background: #373435ff;
	color: #fefefe;
	padding: 1rem;
	margin: auto;
	position: -webkit-sticky; /* Para navegadores webkit */
	position: sticky;
    }


    nav h1 {
      font-size: 1.5rem;
    }

    .nav-links {
      display: flex;
      gap: 1rem;
    }

    .nav-links a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #d2a93cff;
    }
    .logo{
	width:5rem;
	padding:1rem;

    }
    /* ======= MENÚ RESPONSIVE ======= */
    .menu-toggle {
      display: none;
      font-size: 1.8rem;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
      }

      .nav-links.active {
        display: flex;
      }

      .menu-toggle {
        display: block;
      }
    }

    /* ======= SECCIÓN SLIDER ======= */
 
    .sld-1 {
      background-image: url('../img/img_hero01.JPG');
    }
    
    .sld-2 {
      background-image: url('../img/img_hero02.jpg');
    }
    
    .sld-3 {
      background-image: url('../img/img_hero03.jpg');
    }
    .sld-4{
      background-image: url('../img/img_hero04.jpg') ;
    }

    

  